{% extends "base.html" %}

{% block content %}
<div class="container mt-4" style="max-width: 700px;">
    <div class="card shadow">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center py-3">
            <h5 class="mb-0 fw-bold">Chat con: {{ receptor.nombre_completo }}</h5>
            <a href="{{ url_for('chat_lista') }}" class="btn btn-sm btn-outline-light">Volver</a>
        </div>
        
        <div class="card-body bg-light" style="height: 400px; overflow-y: auto; display: flex; flex-direction: column;" id="chat-box">
            {% for msg in mensajes_chat %}
                {% if msg.remitente_id == session['user']['id'] %}
                    <div class="align-self-end bg-primary text-white p-3 rounded-3 mb-2 shadow-sm" style="max-width: 75%; border-bottom-right-radius: 0px !important;">
                        <p class="mb-1 text-break">{{ msg.contenido }}</p>
                        <small class="d-block text-end text-white-50" style="font-size: 0.75rem;">{{ msg.fechaEnvio.strftime('%H:%M') }}</small>
                    </div>
                {% else %}
                    <div class="align-self-start bg-white text-dark p-3 rounded-3 mb-2 shadow-sm border" style="max-width: 75%; border-bottom-left-radius: 0px !important;">
                        <p class="mb-1 text-break">{{ msg.contenido }}</p>
                        <small class="d-block text-muted" style="font-size: 0.75rem;">{{ msg.fechaEnvio.strftime('%H:%M') }}</small>
                    </div>
                {% endif %}
            {% else %}
                <div class="my-auto text-center text-muted">
                    <p class="mb-0"><i class="bi bi-chat-quote fs-2 text-warning"></i></p>
                    <p>No hay mensajes en esta conversación. ¡Envía el primer mensaje!</p>
                </div>
            {% endfor %}
        </div>
        
        <div class="card-footer bg-white py-3">
            <form action="{{ url_for('chat_sala', usuario_id=receptor.id) }}" method="POST" class="d-flex gap-2">
                <input type="text" name="contenido" class="form-form-control form-control" placeholder="Escribe un mensaje aquí..." required autocomplete="off" autofocus>
                <button type="submit" class="btn btn-warning text-white px-4">Enviar</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Hacer que el scroll baje automáticamente al último mensaje al cargar la sala
    var chatBox = document.getElementById("chat-box");
    chatBox.scrollTop = chatBox.scrollHeight;
</script>
{% endblock %}